/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: darkmagenta;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 1rem;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
}

section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}

img {
    max-width: 100%;
    height: auto;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.project-card {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem; /* Add margin to prevent overlap with footer */
}

form label {
    margin-top: 1rem;
}

form input, form textarea {
    padding: 0.5rem;
    margin-top: 0.5rem;
}

form button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem; /* Adjust padding for better appearance */
    position: relative; /* Change to relative to avoid covering content */
    width: 100%;
    bottom: 0;
}
